---
---

@import "{{ site.theme }}";
body{color:#444;font-family:Quattrocento Sans,Helvetica Neue,Helvetica,Arial,sans-serif;}
h1{font-size:36px;margin-bottom:30px;}
code{font-family:Consolas,Lucida Sans,Monaco,Lucida Console,Terminal,monospace;text-shadow:none;white-space:pre-wrap;}
.wrapper{width:800px;}
#banner{width:100%;}
#banner #logo{margin-right:15px;}
#banner .fork{margin-left:-380px;}
section{width:auto;max-width:738px;}
nav{margin-left:-638px;text-align:initial;}
kbd{border:1px solid #ccc;border-radius:2px;padding:2px 6px;}
footer small{display:none;}
@media print, screen and (max-width: 1165px) {
    nav {display: none;}
}
@media print, screen and (max-width: 1060px) {
    header h1,section h1,footer h1{font-size:28px;overflow:initial;white-space:initial;}
}
@media print, screen and (max-width: 800px) {
    #banner .fork{float:left;display:inline-block;margin-left:0px;position:fixed;left:20px;}
}
